<p *ngIf="!auth.isAuthenticated()">This api is only accessible if you are logged in.</p>
<h1 *ngIf="auth.isAuthenticated()">Jarno's Rest API</h1>
<ion-list *ngIf="auth.isAuthenticated()">
  <div *ngFor="let show of shows">
    <ion-item-sliding>
      <ion-item>
        <ion-label>{{show.name}}</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="delete(show.id)">Delete</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </div>
</ion-list>