<p *ngIf="!auth.isAuthenticated()">This api is only accessible if you are logged in.</p>
<h1 *ngIf="auth.isAuthenticated()">Jarno's Rest API</h1>
<div *ngIf="auth.isAuthenticated()">
  <ion-list>
    <div *ngFor="let show of shows">
      <ion-item>
        <ion-label>{{show.name}}</ion-label>
      </ion-item>
    </div>
  </ion-list>
  <ion-input [(ngModel)]="inputName" placeholder="Show Name"></ion-input>
  <ion-input [(ngModel)]="inputType" placeholder="Type"></ion-input>
  <ion-input [(ngModel)]="inputRating" placeholder="Rating" type="number"></ion-input>
  <ion-button (click)="newShow()">Add show</ion-button>
</div>