<ion-header>
  <ion-toolbar>
    <div slot="start">
      <ion-title>
        TvShowApp
      </ion-title>
      <ion-button class="btn btn-primary btn-margin" *ngIf="!auth.isAuthenticated()" (click)="auth.login()">
        Log In
      </ion-button>
      <ion-button class="btn btn-primary btn-margin" *ngIf="auth.isAuthenticated()" (click)="auth.logout()">
        Log Out
      </ion-button>
    </div>

    <ion-searchbar [(ngModel)]="search" (keyup)="lookup()" placeholder="Search TvShow" slot="end"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-chip color="primary" (click)="presentCustomApi($event)">
    <ion-label color="dark">Custom Api</ion-label>
  </ion-chip>
  <div class="ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col size="2" *ngFor="let show of Shows">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle></ion-card-subtitle>
              <ion-card-title *ngIf="!searched">{{show.name}}</ion-card-title>
              <ion-card-title *ngIf="searched">{{show.show.name}}</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <img *ngIf="!searched" src="{{show.image.original}}" alt="">
              <img *ngIf="searched" src="{{show.show.image.original}}" alt="">
              <ion-chip *ngIf="!searched" color="primary" (click)="presentPopover($event,show.id)">
                <ion-label>More</ion-label>
              </ion-chip>
              <ion-chip *ngIf="searched" color="primary" (click)="presentPopover($event,show.show.id)">
                <ion-label>More</ion-label>
              </ion-chip>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div *ngIf="!searched">
      <ion-button (click)="PreviousPage()">Previous</ion-button>
      <ion-button (click)="NextPage()">Next</ion-button>
    </div>
  </div>
</ion-content>