<ion-header>
  <ion-toolbar>
    <ion-title slot="start">
      TvShowApp
    </ion-title>
    <ion-searchbar [(ngModel)]="search" (keyup)="lookup()" placeholder="Search TvShow" slot="end"></ion-searchbar>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-card *ngFor="let show of ShowsLookedUp">
      <ion-card-header>
        <ion-card-subtitle>{{show.name}}</ion-card-subtitle>
        <ion-card-title>{{show.name}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>